body {
  font-family:fantasy;
}
h1 {
  text-align: center; font-family: fantasy;
}
h2 {
  color: #658b99;
  }
h3 {
  color: 808000; text-align: center;
  }
h4 {
  color: 808000; text-align: right;
      }
#one_green_thing {
  color: #00ff00;
}
#red_header {
  color: #ff0000;
}
