html {
  height: 100%;
  }
body {
  font-family:fantasy;
  height: 100%;
}
h1 {
  text-align: center; font-family: fantasy;
}
h2 {
  color: #658b99;
  }
h3 {
  color: 808000; text-align: center;
  }
h4 {
  color: 808000; text-align: right;
      }

#one_green_thing {
  color: #00ff00;
}

#red_header {
  color: #ff0000;
}

#header {
  padding-top: 200px;
  margin-bottom: 50px;
  height: 60vh;
  background-size: cover;
  background-image: url("IMG_1387.jpg");
  display: flex;
  flex-direction: column;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  margin: 5px;
  transition: background-color 0.5s;
}

.tile:hover {
  background-color: fuchsia;
}
